<h2 id='title'>Welcome to Ember</h2>

{{paper-password
	value=password
	class='flex-100'
	label='password'
	onChange=(action (mut password))
}}

<br/><br/>

{{paper-password
	reveal=false
	value=password
	class='flex-100'
	label='password'
	onChange=(action (mut password))
}}

{{outlet}}
