<h2 id='title'>Paper Password</h2>

{{paper-password
	value=password
	class='layout-fill flex-50'
	label='password'
	onChange=(action (mut password))
}}

<br/><br/>

{{paper-password
	reveal=false
	value=password
	class='layout-fill flex-50'
	label='password'
	onChange=(action (mut password))
}}
